.element{
    margin: auto;
    padding: auto;
    color: #f4fafa;
    width: 100%;
    height: 300px;
    resize: both;
    overflow: auto;
    background-image: url("../obrazek/tlo-las-.jpg");
    background-color: darkgrey;
    background-position: top;
    background-size: cover;
    background-attachment: local;
    text-align: center;
    text-indent: 50px;
    object-fit: cover;

}
.element__decoration{
    text-decoration: underline wavy rgb(0, 162, 255);
    text-transform: uppercase;

}